affine==2.4.0
altair==6.0.0
altgraph==0.17.4
attrs==25.4.0
blinker==1.9.0
branca==0.7.2
bs4==0.0.2
cachetools==6.2.4
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contextily==1.6.0
curl_cffi==0.11.1
customtkinter==5.2.2
darkdetect==0.8.0
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbfread==2.0.7
deep-translator==1.11.4
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
fanstatic==1.5
folium==0.16.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.46
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna==3.11
INEGIpy==1.2.1
jenkspy==0.4.1
Jinja2==3.1.6
jiter==0.6.1
js==1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kagglehub==0.3.6
mapclassify==2.6.1
MarkupSafe==3.0.3
mercantile==1.2.1
multitasking==0.0.11
narwhals==2.15.0
numpy @ file:///D:/bld/bld/rattler-build_numpy_1766373812/work/dist/numpy-2.4.0-cp311-cp311-win_amd64.whl#sha256=73a288d2179f5f1426c99bf90b3cc81232ae8e94579705bb5e5219a716553cd8
openpyxl @ file:///D:/bld/openpyxl_1757332076971/work
packaging==26.0
pandas @ file:///D:/bld/pandas_1764614503455/work
pdfminer.six==20231228
pdfplumber==0.11.4
peewee==3.18.1
pefile==2023.2.7
pillow==12.1.0
plotly==5.22.0
prettytable==3.15.1
protobuf==6.33.4
PuLP==2.8.0
pyarrow==22.0.0
pydeck==0.9.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyPDF2==3.0.1
pypdfium2==4.30.0
pypng==0.20220715.0
pyproj==3.6.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-docx==1.1.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32-ctypes==0.2.3
qrcode==7.4.2
rasterio==1.3.10
referencing==0.37.0
requests==2.32.5
retrying==1.3.4
rpds-py==0.30.0
simpledbf==0.2.6
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
snuggs==1.4.7
sqlparse==0.5.3
squarify==0.4.4
streamlit==1.53.1
tenacity==9.1.2
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.5.4
ttkthemes==3.2.2
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
urllib3==2.6.3
watchdog==6.0.0
WebOb==1.8.9
websockets==15.0.1
world-trade-data==0.1.1
xgboost==2.1.3
xmltodict==0.14.2
yfinance==0.2.61
fastapi
uvicorn[standard]
httpx
sniffio
gspread>=6.2.1
google-auth>=2.48.0
